*~
emacs.d/.emacs.desktop
emacs.d/.python-environments/
emacs.d/abbrev_defs
emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/elpa
emacs.d/recentf
emacs.d/semanticdb
emacs.d/custom.el
todo.sh/.todo/actions.d/pom
*.zwc
