[Desktop Entry]
Comment=Open-source electronics platform
Exec=env _JAVA_OPTIONS=-Dawt.useSystemAAFontSettings=on /opt/arduino/arduino
Icon=/opt/arduino/lib/icons/256x256/apps/arduino.png
Name=Arduino
NoDisplay=false
Path=/opt/arduino
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Desktop-File-Install-Version=0.23
