[Desktop Entry]
Comment=Open-source electronics platform
Exec=/opt/arduino/arduino
Icon=/opt/arduino-1.8.7/lib/icons/256x256/apps/arduino.png
Name=Arduino
NoDisplay=false
Path=/opt/arduino
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Desktop-File-Install-Version=0.23
