[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=A fast, feature full, GPU based terminal emulator
TryExec=/home/jay/.local/kitty.app/bin/kitty
Exec=/home/jay/.local/kitty.app/bin/kitty
Icon=/home/jay/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
X-Desktop-File-Install-Version=0.24
