[Desktop Entry]
Comment=Electronic Sketchbook
Exec=env _JAVA_OPTIONS=-Dawt.useSystemAAFontSettings=on /opt/processing/processing
Icon=/opt/processing/lib/icons/pde-512.png
Name=Processing
NoDisplay=false
Path=/opt/processing
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;
X-KDE-SubstituteUID=false
X-KDE-Username=
X-Desktop-File-Install-Version=0.22
