[Desktop Entry]
Name=Azure Storage Explorer
GenericName=Storage Explorer
Comment=Manage storage
Exec=/opt/storageexplorer/StorageExplorer
Icon=/opt/storageexplorer/resources/app/out/app/icon.png
Type=Application
Terminal=false
Categories=FileManager;
Keywords=folder;manager;explore;disk;filesystem;
X-Desktop-File-Install-Version=0.22
