[Desktop Entry]
Name=Terminal Multiplexer
Comment=Multiplexed Rxvt terminal
TryExec=urxvtc -e tmux
Exec=urxvtc -e tmux
Icon=urxvt_48x48
Type=Application
Categories=Utility;TerminalEmulator;
StartupNotify=true
Keywords=Run;
