[Desktop Entry]
Version=1.0
Name=tmux (alacritty)
Comment=Terminal multiplexer
Exec=alacritty -e tmux
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;
X-Desktop-File-Install-Version=0.22
