[Desktop Entry]
Name=Rxvt (tmux)
Comment=Terminal multiplexer
TryExec=urxvt -e tmux
Exec=urxvtc -e tmux
Icon=urxvt_48x48.xpm
Type=Application
Categories=Utility;TerminalEmulator;
StartupNotify=true
Keywords=Run;
Actions=New
