[Desktop Entry]
Version=1.0
Name=tmux (rxvt)
Comment=Terminal multiplexer
Exec=urxvtc -e tmux
Terminal=false
Type=Application
Categories=Utility;
X-Desktop-File-Install-Version=0.22
