#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.1
Name=Ubuntu VM
Comment=Ubuntu 20.04.1 virtual machine
Path=/home/jb
Exec=/home/jb/.local/bin/ubuntu-vm.sh
Icon=/home/jb/.local/share/icons/ubuntu.svg
Terminal=false
Categories=System;
X-Desktop-File-Install-Version=0.24
